[DEFAULT]
linesToIgnore = 1

sheetTitles = PRE_LOAD,RB_HK_1.0,RB_SG_1.0,PVB_HK_1.2,PVB_SG_1.2,POST_LOAD

[NON_PROD]
version = 800
dataCenter = HKLVADAPP193
application = TripleA_APP_Batch
folderName = TripleA_APP_Batch

[TAP_PROD]
version = 918
dataCenter = PG1208
application = Triple A Plus
folderName = TripleA_APP_Batch
